.Header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    height: 40px;
}

.JBA {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
}

.buttonArea {
    display: flex;
    align-items: center;
    height: 100%;
}