.MenuBar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1400px;
}
.MenuBar_Inner{
    display: flex;
    min-width: 1000px;
    max-width: 1200px;
}

.Ul{
    position: absolute;
    z-index: 1;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    font-weight: bold;
    position: relative;

}


.Li{
    flex-grow: 1;
    padding: 54px 0px 64px 0px;
    /* padding-bottom:10px; */
    align-content: center;
    float: left;
    position: relative; /* 추가: .Li 요소에 상대적인 위치 설정 */
    text-align: center;
    /* border: 1px solid gray; */
    font-size: 16px;

}


.iscenter{
    margin-left: 104px;

}

.Ul:hover .SubMenu{
    opacity: 1; /* 호버 시 투명도를 1로 변경하여 천천히 나타나도록 함 */
    top: 100%;

}

.SubMenu{
    padding-bottom:20px;
    overflow: hidden;
    position: absolute;
    opacity: 1;/* 초기에 투명하게 설정 */
    z-index: 2000;
    width: 101%;  /* .MINIMENU가 사이의 간격으로 인하여 그 가운데에 hover시에 SubMenu가 사라져 width 1%늘림*/
    top: -2000px; /* 추가 .SubMenu .Li 아래쪽에 위치하도록 함*/
    font-weight: normal;
    transition: top 0s, opacity 0.5s ease /* top과 opacity에 대한 1초 동안의 트랜지션 */;

}

.SubMenu > li{
   padding-top: 20px ;

}

.SubMenu li:hover {
    font-weight: bolder;
}

.BackGround{
    position: absolute;
    top:124px;
    width: 100%;
    background-color: var(--color-lightbeige);
    transition: all 0.3s ease /* top과 opacity에 대한 1초 동안의 트랜지션 */;

}


.On{
    height: 220px; /* 호버 시 투명도를 1로 변경하여 천천히 나타나도록 함 */
}
.Off{
    height: 0px; /* 호버 시 투명도를 1로 변경하여 천천히 나타나도록 함 */

}