.container {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container > label {
  width: 25%;
  font-weight: bold;
}

.basicFormInput {
  width: 150%;
  height: 30px;
  border: 1px solid var(--subcolor-black5);
  border-radius: 5px;
}
