.CompetitionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1920px;
}

.containerBox {
    width: 1320px;
}

.yearFilter {
    width: 200px;
    height: 48px;
}

.statusArea {
    width: 1316px;
    height: 46px;
    display: flex;
    margin-bottom: 10px;
    border: 2px solid var(--primary-color);
}

.selectAndRegisterArea {
    display: flex;
    justify-content: space-between;
}

.selectAndRegisterArea button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: var(--primary-color);
    border-radius: 10px;
}
