.Footer {
    height: 110px;
    min-width: 1770px;
    display: flex;
    align-items: center;
    padding-left:  150px;
    background-color:gray ;
    color: rgba(255, 255, 255,0.7)
}

.Container{
    display: flex;
    padding-left:  130px;
    gap: 20px;

}

.Box{
    display: flex;
    flex-direction:column;
    gap:5px;
    font-size: 13px;
}
.Main{
    font-size: 16px;
}
.Sub{
    font-size: 10px;
}

.Info{
    width: max-content;
    display: flex;
}