.button {
    padding-left: 15px;
    padding-right: 15px;
    height: 48px;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #E3BE58;
}