.container {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchFormWapper {
  background: beige;
  width: 90%;
  height: 200px;
  padding: 20px;
}

.listWrapper {
  background: beige;
  width: 90%;
  height: 700px;
  margin-top: 50px;
}

.listLength {
  width: 300px;
  display: flex;
  align-items: center;
}
