.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
}

.container > h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-top: 40px;
}

.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.detailImageImgWrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.detailImage {
  max-width: 950px; 
  max-height: 700px; 
  width: auto; 
  height: auto; 
  object-fit: contain; 
}
/* max-width: 1000px; 여기 조절에  따라서 가로 이미지 크기 달라짐   */

.handleBtn {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  right: 40px;
}
