.SearchEmailBox {
    margin-top: 20px;
    width: 500px;
    height: 350px;
}

.formArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formArea div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formArea label {
    margin-bottom: 5px;
}

.formArea input {
    width: 480px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}

.formArea input::placeholder {
    color: #B5B5B5;
}

.formArea button {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.foundEmailArea {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}