.closeBtnArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}

.closeBtnArea p {
    font-size: 20px;
    font-weight: bold;
}

.closeBtnArea button {
    font-size: 20px;
    margin-right: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.row p {
    width: 150px;
}

.row button {
    border: 1px solid #b5b5b5;
}

.submitBtnArea {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.submitBtnArea button {
    background-color: var(--primary-color);
    width: 60px;
    height: 25px;
    border-radius: 5px;
}

.infoArea {
    display: flex;
    justify-content: center;
}

.infoMessage {
    font-size: 15px;
    color: #4B4B4B;
}