.halfInfoArea {
    width: 50%;
    display: flex;
}

.infoArea {
    display: flex;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.info p {
    padding: 10px 20px 10px 20px;
    max-width: 388px;
    color: #4B4B4B;
}