.itemTypeList {
    font-weight: 400;
    font-size: 17px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    gap: 20px;
    border-top: 4px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.itemType {
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyPost {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.emptyPost p {
    font-size: 20px;
    color: var(--primary-color);
}