.container {
  display: flex;
  height: 220px;
  width: 100%;
  border: 1px solid var(--subcolor-black1);
  border-radius: 5px;
}

.fileLabel {
  width: 100px;
  height: 50px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
}

.fileInput {
  display: none;
}

.uploadInput {
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}
.fileName {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
}
