/* form : 생일입력란  별도 css */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.Input_birthday{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Input_dob{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/*생년월일 입력창의 각 인풋창 사이즈 조절*/
.year input{
  width: 40px;
}

.month input,
.day input
{
  width: 20px;
}

/*생년월일 입력창의 값이 올바르지 않을시 인풋태그에 빨간 밑줄*/

.false input{
  border-bottom: 1px solid red;
}

