.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  min-width: 1920px;
  margin-bottom: 50px;
}

.container > h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 100px;
}
