.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.GalleryPageHeader {
  width: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  position: relative;
}

.buttonWrapper {
  position: absolute;
  right: 0;
}
