.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1320px;
}

.titleWrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}
