.container {
  width: 100%;
  border-top: 1px solid var(--subcolor-black5);
  border-bottom: 1px solid var(--subcolor-black5);
  margin-top: 20px;
  padding-bottom: 10px;
}
/* 리스트 타이틀 */
.titleWrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--subcolor-black5);
  padding: 0 5px;
}
.titleWrapper > h1 {
  width: 130px;
  text-align: center;
}

/* 리스트 목록 */

.contentWrapper {
  width: 100%;
  height: 500px;
  padding: 0 5px;
  overflow: scroll;
}

.listWrapper {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.listWrapper > span {
  width: 130px;
  text-align: center;
  font-size: 13px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.listImg {
  width: 40px;
  height: 40px;
}

.titleSpan {
  text-decoration: underline;
  cursor: pointer;
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-size: 10px;
  text-decoration: underline;
}

.announcementBtn {
  background: #5fcb9b;
  color: white;
  width: 70%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 12px;
}

.notAnnouncementBtn {
  background: white;
  color: var(--subcolor-black3);
  width: 70%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 12px;
}
