.container {
  width: 100%;
  border-top: 1px solid var(--subcolor-black5);
  border-bottom: 1px solid var(--subcolor-black5);
  margin-top: 20px;
}
/* 리스트 타이틀 */
.titleWrapper {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--subcolor-black5);
  padding-right: 5px;
}
.titleWrapper > h1 {
  width: 100%;
  padding-left: 5px;
}

/* 리스트 목록 */

.contentWrapper {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}

.listWrapper {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.listWrapper > span {
  width: 100%;
  font-size: 14px;
  padding-left: 5px;
  overflow: hidden;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.updateBtn {
  background: #5fcb9b;
  color: white;
  font-weight: bold;
  padding: 7PX 12PX;
  border-radius: 5PX;
}

.deleteBtn {
  background: var(--primary-color);
  color: var(--subcolor-black5);
  font-weight: bold;
  padding: 7PX 12PX;
  border-radius: 5PX;
}


.listImg {
  width: 40px;
  height: 40px;
}

.titleSpan {
  text-decoration: underline;
  cursor: pointer;
}

.file {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 10px;
  text-decoration: underline;
}

.announcementBtn {
  background: #5fcb9b;
  color: white;
  width: 70%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 12px;
}

.notAnnouncementBtn {
  background: white;
  color: var(--subcolor-black3);
  width: 70%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 12px;
}

.contentWrapper::-webkit-scrollbar {
  width: 5px;
}
.contentWrapper::-webkit-scrollbar-track {
  background-color: beige;
}
.contentWrapper::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
.contentWrapper::-webkit-scrollbar-button {
  display: none;
}
