.SearchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: #EFEFEF;
    border-radius: 5px;
}

.searchInput {
    width: 320px;
    height: 50px;
    border: none;
    padding: 0 15px 0 15px;
    background-color: #EFEFEF;
    font-size: 16px;
}

.searchInput::placeholder {
    color: #B5B5B5;
}

.searchButton {
    cursor: pointer;
    margin-right: 15px;
}