.container {
  min-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.categoryArea {
  margin: 0 auto;
  margin-bottom: 30px;
}

.category {
  font-size: 26px;
  font-weight: 600;
}

.divideLine {
  background-color: var(--primary-color);
  width: 100%;
  height: 0.2px;
}

.subLine {
  background-color: var(--subcolor-black4);
  width: 100%;
  height: 0.2px;
}

.list {
  margin: 0 auto;
}

.formContainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formContent {
  padding-right: 5%;
  padding-left: 5%;
}

.inputArea {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--subcolor-lightgray);
    padding: 0;
    min-height: 50px;
}

.select {
    min-width: 200px;
    margin-left: 20px;
}

.filesWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fileDownload {
  text-decoration: underline;
  cursor: pointer;
}

.fileNull {
  padding-left: 16px;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}

.buttonCancel {
  background-color: var(--subcolor-black3);
  padding-left: 15px;
  padding-right: 15px;
  height: 48px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.buttonCancel:hover {
  background-color: var(--subcolor-black4);
}
