.container {
  min-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.categoryArea {
  margin: 0 auto;
  margin-bottom: 30px;
}
.category {
  font-size: 26px;
  font-weight: 600;
}
.divideLine {
  background-color: var(--primary-color);
  width: 100%;
  height: 0.2px;
}
.subLine {
  background-color: var(--subcolor-black4);
  width: 100%;
  height: 0.2px;
}
.titleArea {
  display: grid;
  grid-template-columns: 7fr 0.5fr 0.5fr 0.5fr;
  text-wrap: nowrap;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}
.titleContent {
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list {
  margin: 0 auto;
}
.content {
  height: 700px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10%;
  padding-left: 10%;
}
.filesWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fileDownload {
  text-decoration: underline;
  cursor: pointer;
}
.fileNull {
  padding-left: 16px;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonEdit {
  background-color: var(--subcolor-black3);
  padding-left: 15px;
  padding-right: 15px;
  height: 48px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.buttonEdit:hover {
  background-color: var(--subcolor-black4);
}

.buttonDelete {
  background-color: var(--primary-red);
  padding-left: 15px;
  padding-right: 15px;
  height: 48px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.buttonDelete:hover {
  background-color: var(--subcolor-black4);
}