.container {
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70%;
  margin-bottom: 20px;
}
.categoryArea {
  margin: 0 auto;
  margin-bottom: 30px;
}
.category {
  font-size: 26px;
  font-weight: 600;
}
.titleArea {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 0.5fr 0.5fr 0.5fr;
  text-wrap: nowrap;
  column-gap: 43px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 4px solid var(--primary-color);
  border-bottom: 0.1px solid #B5B5B5;
}
.title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--primary-color);
  padding-top: 19px;
  padding-bottom: 19px;
}
.titleContent {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list {
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 19px;
}
.content {
  min-height: 600px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 10%;
  padding-left: 10%;
  overflow: scroll;
  scrollbar-width: none;
  text-wrap: balance;
  word-wrap: break-word;

  img {
    border-radius: 5px;
    width: 50%;
  }
}

.filesWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 0.1px solid #8E8E8E;
  border-bottom: 0.1px solid #8E8E8E;
}
.filesContainer{
  display: flex;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.filesContainerTitle {
  margin: 10px
}
.fileDownloadItem {
  margin-bottom: 5px;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
.downloadUrlWrapper{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.fileNull {
  padding-left: 16px;
}
.adminWrapper {
  position: absolute;
  left: 0px;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.buttonWrapper {
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.adminEdit {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}

.adminDelete {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}

/* .iframe {
  width: 100%;
  height: 600px;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 30px
}; */