.listTitleArea {
    display: flex;
    width: 1320px;
    height: 60px;
    border-top: 4px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.listTitleArea div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listTitleArea label{
    font-size: 16px;
}


.listTitleLabel100 {
    width: 100px;
}

.listTitleLabel280 {
    width: 280px;
}

.listTitleLabel740 {
    width: 740px;
}