.CompetitionDetailTitle {
    width: 1320px;
    height: 70px;
    border-top: 4px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.CompetitionDetailTitle div {
    position: absolute;
    left: 0;
    width: 70px;
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.CompetitionDetailTitle h1 {
    font-size: 18px;
}
