.CompetitionDetailInfo {
    border-top: 2px solid #B5B5B5;
    border-left: 2px solid #B5B5B5;
    border-right: 2px solid #B5B5B5;
    display: flex;
    flex-direction: column;
    width: 1096px;
    margin-bottom: 100px;
}

.fullInfoArea {
    display: flex;
    border-bottom: 2px solid #B5B5B5;
    min-height: 66px;
}

.halfInfoArea {
    width: 50%;
    display: flex;
}

.infoArea {
    width: 100%;
    display: flex;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 428px;
}

.info p {
    padding: 10px 20px 10px 20px;
    color: #4B4B4B;
}

.info a {
    text-decoration: underline;
    padding: 10px 20px 10px 20px;

}

.contentArea {
    max-width: 930px;
    padding: 10px 20px 10px 20px;
}

.contentArea img{
    max-width: 930px;
    height: auto;
}

.updateDeleteButtonArea {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

