.CompetitionDetailInfo {
    border-top: 3px solid var(--color-dark);
    display: flex;
    flex-direction: column;
}

.fullInfoArea {
    display: flex;
    border-bottom: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-dark);
    border-left: 1px solid var(--color-dark);
}

.halfInfoArea {
    width: 520px;
    min-height: 70px;
    display: flex;
}

.infoArea {
    width: 1040px;
    min-height: 70px;
    display: flex;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info p {
    padding: 10px 20px 10px 20px;
}

.info a {
    text-decoration: underline;
    padding: 10px 20px 10px 20px;

}

.contentArea {
    padding: 10px 20px 10px 20px;
}

.contentArea img{
    max-width: 800px;
    height: auto;
}

.updateDeleteButtonArea {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.updateDeleteButtonArea button {
    margin-right: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.updateDeleteButtonArea button:hover{
    color: var(--color-dark-gray);
}