.listArea {
    display: flex;
    width: 1200px;
    height: 70px;
    border-bottom: 1px solid var(--subcolor-black5);
}

.listArea div {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listArea p {
    font-size: 16px;
}

.listLabel100 {
    width: 100px;
}

.listLabel140 {
    width: 140px;
}

.listLabel280 {
    width: 280px;
}

.listLabel480 {
    width: 480px;
}

.listLabel140 button {
    width: 100px;
    height: 40px;
    border: 1px solid var(--subcolor-black5);
    font-size: 16px;
}