.listArea {
    display: flex;
    width: 1320px;
    height: 80px;
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;

}

.listArea:hover {
    background-color: var(--primary-color);
    transition: ease-in-out 0.2s;
}

.listArea div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listLabel100 {
    width: 100px;
}

.listLabel140 {
    width: 140px;
}

.listLabel280 {
    width: 280px;
}

.listLabel740 {
    width: 740px;
}

.listLabel140 button {
    width: 100px;
    height: 40px;
    border: 1px solid var(--subcolor-black5);
    font-size: 16px;
}