.FloorBox {
    display: flex;
    flex-direction: column;
    width: 1040px;
    margin: 30px 0 30px 0;
}

.titleArea {
    display: flex;
    align-items: center;
}

.titleArea button {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    font-size: 20px;
}

.titleArea input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border: 1px solid var(--subcolor-black5);
    border-radius: 10px;
    padding: 0 10px 0 10px;
    text-align: center;
}

.inputArea {
    width: 100%;
}