.KakaoMap {
    width: 1040px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.map {
    width: 100%;
    height: 100%;
}

.buttonArea{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.buttonArea button {
    width: 200px;
    height: 50px;
    border: 1px solid var(--subcolor-black5);
    background-color: var(--subcolor-gold3);
    border-radius: 20px;
}

.buttonArea button:hover {
    background-color: var(--primary-color);
}