.ResultList {
    display: flex;
    flex-direction: column;
    margin: 20px 0 40px 0;
}

.floorArea {
    height: 50px;
    display: flex;
    align-items: center;
}

.floorArea p {
    font-weight: bold;
    font-size: 22px;
    color: var(--primary-color);
}





.rowArea {
    width: 1040px;
    border-top: 3px solid var(--primary-color);
    border-right: 2px solid var(--subcolor-black5);
    border-left: 2px solid var(--subcolor-black5);
}