.ResultRow {
    width: 1040px;
    height: 50px;
    display: flex;
    border-bottom: 2px solid var(--subcolor-black5);
}

.ResultRow p {
    font-size: 16px;
    font-weight: bolder;
}

.timeArea {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--subcolor-gold3);
}

.divisionArea {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--subcolor-black5);
    border-right: 2px solid var(--subcolor-black5);
}

.pointArea {
    width: 420px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePointArea {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.awayPointArea {
    width: 200px;
    display: flex;
    justify-content: flex-start;
}

.teamName {
    margin: 0 10px 0 10px;
    font-weight: normal;
}

.winPoint {
    color: red;
}

.vsText {
    margin: 0 10px 0 10px;
}

.fileBtn {
    width: 250px;
    height: 100%;
    border-left: 2px solid var(--subcolor-lightgray);
    background-color: var(--subcolor-gold3);
    font-size: 16px;
    font-weight: bolder;
}