.statusButton {
    width: 328px;
    height: 46px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    border-right: 2px solid var(--primary-color);

}

.statusButtonFocused {
    width: 328px;
    height: 46px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-right: 2px solid var(--primary-color);
}



