.CompetitionDetailLabel {
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4E7C9;
}

.CompetitionDetailLabel p {
    font-size: 16px;
}
