.container {
  width: 426px;
  height: 323px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.title {
  height: 70px;
  background: var(--primary-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.image {
  height: 253px;
}
