.GalleryArea {
    width: 100%;
    height: 881px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--private-black);
}

.titleBar {
    margin-top: 40px;
    border: 2.2px solid #FFFFFF;
    width: 20px;
    height: 0;
}

.navigateBtnArea {
    margin: 20px 0 10px 0;
    width: 1330px;
    display: flex;
    justify-content: flex-end;
}

.pictureArea {
    display: flex;
    width: 1320px;
    height: 500px;
}

.pictureArea img {
    object-fit: cover;
}

.leftArea {
    width: 640px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.leftArea:hover {
    border: 1px solid white;
    scale: 1.05;
    transition: ease-in-out 0.5s;
}

.rightArea {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.rightAreaColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
}

.rightImgBox {
    height: 240px;
    position: relative;
    cursor: pointer;
}

.rightImgBox:hover {
    border:1px solid white;
    scale: 1.05;
    transition: ease-in-out 0.5s;
}

.pictureArea img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}