.checkBoxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 130px;
}

.checkBoxLabel input[type="checkbox"] {
    display: none;
}

.checkBoxIcon {
    width: 14px;
    height: 14px;
    border: 1px solid var(--private-black);
    margin-right: 8px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
}

.checkBoxIcon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 4px;
    height: 8px;
    border: solid var(--primary-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked + .checkBoxIcon::after {
    opacity: 1; /* 체크되면 체크 표시 보이기 */
}
